{% extends "base.html" %}

{% block title %}
Contact
{% endblock %}

{% block content %}

<section class="contact-page">

    <h1>

        Contact Us

    </h1>

    <p>

        Feel free to contact us for project related queries.

    </p>

    <div class="contact-card">

        <p>

            <strong>Email :</strong>

            support@airesumeanalyzer.com

        </p>

        <p>

            <strong>Phone :</strong>

            +91 9876543210

        </p>

        <p>

            <strong>Address :</strong>

            India

        </p>

    </div>

</section>

{% endblock %}