{% extends "base.html" %}

{% block title %}
Upload Resume
{% endblock %}

{% block content %}

<section class="upload-section">

    <div class="upload-container">

        <h1>Upload Your Resume</h1>

        <p class="upload-text">
            Upload your resume in PDF format and get an instant ATS score,
            resume analysis and AI suggestions.
        </p>

        <form action="/analyze"
              method="POST"
              enctype="multipart/form-data">

            <div class="upload-box">

                <i class="fa-solid fa-file-pdf upload-icon"></i>

                <h3>Select Resume (PDF)</h3>

                <input type="file"
                       name="resume"
                       accept=".pdf"
                       required>

            </div>

            <button type="submit"
                    class="upload-btn">

                Analyze Resume

            </button>

        </form>

    </div>

</section>

{% endblock %}